
@{
    ViewBag.Title = "eliminar";
}

<h2>Su dato se ha eliminado</h2>
<div>
    <form action="busqueda" method="post">
        <label>Nombre: <input type="text" name="nombre" value=" " /></label><br />
        <input type="submit" name="enviar" value="Buscardato" />
    </form>
</div>
