
@{
    ViewBag.Title = "Json";
}

<h1>Se escribió en su archivo correctamente</h1>
<br />
<div>
    <form action="ConecciónB" method="post">
        <input type="submit" name="enviar" value="Regresar al Menú" />
    </form>
</div>
